
.navbar {
    background-color: #1D2538;
}

.navbar-brand span {
    color: rgb(128, 128, 128);
    font-family: cursive;
}

.navbar-nav .nav-item {
    margin-right: 2px;
}

.nav-link .bi-folder-fill {
    font-size: 20px;
}

.navbar-nav .nav-item img {
    width: 40px;
    border-radius: 50%;
}
